﻿body {
}

tr {
    border-bottom: 2px solid lightgray;
}

table#myTable {
    border-collapse: collapse;   
}
#myTable tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
#myTable tr:hover {
    background-color: #ccc;
}
#myTable td {
    padding: 5px;
    border-style: groove;
    
}
#myTable td:hover {
    cursor: pointer;
}

.ui-block-b {
    /*width: 25% !important;*/
}

#footer2 {
    position: absolute;
    bottom:0;
    width: 100%;
}

.ftr {
    width: 100%;
}

.thumbs{
	/*width:480px;
	/margin:60px auto 35px;*/
	text-align:center;
}

.thumbs a{
	width:110px;
	height:110px;
	display:inline-block;
	border:7px solid #303030;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-radius:4px;
	margin: 4px 4px 10px;
	position:relative;
	text-decoration:none;
	
	background-position:center center;
	background-repeat: no-repeat;
	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}