﻿.noti_bubble {
    position: absolute;
    top: 6px;
    right:6px;
    padding:1px 2px 1px 2px;
    background-color:red;
    color:white;
    font-weight:normal;
    font-size:0.60em;
    
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}