﻿#panelpop {
    width:100%;
    position: absolute;
    bottom: 0;
    display: none;
/*    height: 100px;*/
    background-color: #aaaaaa;
    /*padding: 10px;*/
}

#panelpop .cls{
    margin-left:10%;
}

#rangeSlider{
    display:none;
}

#detailCont .ui-slider-track{
    margin-left:0;
}

#radarDiv{
    position:absolute;
    top:0px;
    left:0px;
    width:100px;
    height:100px;
}