.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}

#panelpop {
    width:100%;
    position: absolute;
    bottom: 0;
    display: none;
/*    height: 100px;*/
    background-color: #aaaaaa;
    /*padding: 10px;*/
}

#panelpop .cls{
    margin-left:10%;
}