﻿ #map {
            /*width: 100%;
            height: 100%;*/

            position:fixed ;
            position:absolute;
            top:46.5px;
            right:0;
            bottom:100px;
            left:0;

        }

#footer {
     position: absolute;
    bottom:0;
    width: 100%;
}