﻿/* privacy.html */

.heading 
{
    text-align: center;
    color:blue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.topic 
{
    color:black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:medium;
}

.content 
{
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
}

/* report.html */

.subparagraph
{
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    font-weight:500;
}

.subp
{
    color:green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    font-weight:500;
}


/* index.html */
.subtopic
{
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.feedpara
{
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:medium;
    font-weight:600;
}


/* index.html  report.html*/
.errorV
{
    color:red ;
    font:italic;
    font-size:small;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
}