﻿
html {
     height: 100%;
}

body {
     height: 100%;
}

#map {
     height: 480px;
     /*width: 600px;*/
}


tr {
    border-bottom: 1px solid lightgray;
}

th {
    border-bottom: 1px solid #d6d6d6;
}

tr:nth-child(even) {
    background: #e9e9e9;
}

/*table functions*/

table#myTable {
    border-collapse: collapse;  
}
#myTable tr {
    background-color: #eee;
    border-top: 1px solid #fff;
}
#myTable tr:hover {
    background-color: #ccc;
}
#myTable th {
    background-color: #fff;
}
#myTable th, #myTable td {
    padding: 3px 5px;
}
#myTable td:hover {
    cursor: pointer;
}

#DistArea{
 
    font-family:Calibri;
 
}
#status{
    font-family:Calibri;
    font-size:large;
    font-weight:bold;
}