.feedback {
    width: 250px;
    height: 34px;
    background-color: #ffffff;

}
 
.feedback label {
    width: 30px ;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    text-indent: -100px;
}
 
.label {
    float: left;
    padding-top: 3px;
}
         
input[type="radio"] {
    padding-right: 4px;
    position: absolute;
    left: 340px;
    margin-top: 10px;
}
                 
input[type="radio"], .feedback label.stars {
    float: right;
    line-height: 30px;
    height: 30px;
}
 
span + input[type=radio] + label, legend + input[type=radio] + label {
    clear: right;
    margin-right: 80px;
    counter-reset: checkbox;
}
 
.feedback input[type="radio"]:required + label:after {
    content: '';
    position: absolute;
    left: 290px; 
    min-height: 10px;
    margin-top: -36px;
    text-align: right;
    background: #6cbf00;
    padding: 10px 10px;
    display: block;
    width: 50px;
}
 
.feedback label.stars {
    background: transparent url('../images/star_empty.png') no-repeat center center;
}
 
.feedback label.stars:hover ~ label.stars, 
.feedback label.stars:hover, 
.feedback input[type=radio][name=stars]:checked ~ label.stars {
    background-image: url('../images/star_full.png');
    counter-increment: checkbox;
}
 
.feedback input[type=radio][name=stars]:required + label.stars:after {
    content: counter(checkbox) " stars!";
}

