﻿.chatdiv {

    width: 280px;
    height: 319px;

    border: 17px rgb(42, 99, 120) solid;

    padding: 0px;

    margin: 0px;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;


    -moz-box-shadow:  0px 0px 0px 0px rgb(128,128,128);
    -webkit-box-shadow:  0px 0px 0px 0px rgb(128,128,128);
    box-shadow:  0px 0px 0px 0px rgb(128,128,128);
}
.chattextdiv {
    width: 278px;
    height: 201px;

    border: 0px rgb(81, 114, 127) solid;

    padding: 0px;

    margin: 0px;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;


    color: rgb(25,25,25);
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    text-decoration: inherit;
    text-align: center;

    line-height: 1.3em;
    -moz-box-shadow:  0px 0px 0px 0px rgb(128,128,128);
    -webkit-box-shadow:  0px 0px 0px 0px rgb(128,128,128);
    box-shadow:  0px 0px 0px 0px rgb(128,128,128);

}

.ui-icon-emoji {
    background-image: url("../images/sam/EmoticonIconX.png");
    background-size: 18px 18px;

}


.chatdivname{
    background-color:#1f628d;
    color: black;
    background-image:url(../images/sam/messagebody.jpg);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family:sans-serif;
}
.msgbox{
    background-color: white;
    height: 300px;
    overflow:auto;
    font-family:monospace;
    font-size:medium;
   
}

.emojianddiv{
    background-color: #cccccc;
    height: 20px;
}
.emotionlist{
    background-image: url(../images/sam/EmoticonIconX.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left;

}