﻿body {
}

#shareBtn{
    background-color:#3333FF;
    color:white;
    font-weight:normal;
    margin-left:20%;
}

#largeImage{
    border:1px solid black;
    margin-left:10px;
}

#imgClose{
    position:absolute;
    top:0;
    left:12px;
}

#imgDiv{
    position:relative;
}

#statusSharing{
    text-align:center;
    font-weight:bold;
}

#pageHead{
    /*position:relative;*/
}

.noti_bubble {
    position: absolute;
    top: 6px;
    right:6px;
    padding:1px 2px 1px 2px;
    background-color:red;
    color:white;
    font-weight:normal;
    font-size:0.60em;
    
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

#loadNotific{
    text-align:center;
}

.notificImg{
    max-height:75px;
    max-width:75px;
    border:1px solid black;
}

/*table*/
#myTable tr {
    display:block;
    border-bottom: 5px solid lightgray;
    border-radius:10px;
}

table#myTable {
    /*border-collapse: collapse;*/

    /*new*/
    border-spacing:0px 5px;
}
#myTable tr {
    background-color: #eee;
    border-top: 5px solid darkgray;
    margin:5px 0;
}
#myTable tr:hover {
    background-color: #ccc;
}
#myTable td {
    padding: 5px;
    /*border-style: groove;*/    

    /*new*/
}

#myTable td.imgTd {
    border-style: groove;
}

/*map*/
#googleMap{
    height:200px;
    width:100%;
    border:1px solid black;
    /*text-align:center;*/
}

#uploadedImg{
    /*width:95%;
    text-align:center;*/
}

.usr_name{
    font-size:1.2em;
    font-weight:bold;
    margin-bottom:0;
    padding-bottom:3px;
}

#actions{
    position:absolute;
    top: 50px;
    right:6px;
    border:none;
    background-color:transparent;
}

.profPic{
    height: 42px;
    width: 42px;
}

.profPicDetail{
    height: 42px;
    width: 42px;
}

#topTable{
    width:100%;
}
#topTable td{
    background-color:#FFFFCC;
    text-align:left;
    vertical-align:middle;
}

#loc_Img{
    background-color:#E9E9E9;
}

.error{
    border:1px solid red !important;
    box-shadow:0px 0px 5px 0px red !important;
}

.imgCont{
    position:relative;
}
.closeIcon{
    height: 24px;
    width: 24px;
    position:absolute;
    top:0;
    left:0;
}

.thumbs{
	/*width:480px;
	/margin:60px auto 35px;*/
	text-align:center;
}

.thumbs a{
	width:110px;
	height:110px;
	display:inline-block;
	border:7px solid #303030;
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-radius:4px;
	margin: 4px 4px 10px;
	position:relative;
	text-decoration:none;
	
	background-position:center center;
	background-repeat: no-repeat;
	
	background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
}

.imageAdded{
    border:1px solid black;
    border-radius: 5px;
}